<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Create recipe</title>
</head>
<body>
<form action="http://localhost:8080/add-recipe" method="post">
  <div>
    <label for="name">Name</label>
    <input name="name" value="Recipe's name">
  </div>
  <div>
    <label for="shortDesc">Short description</label>
    <input name="shortDesc" value="Recipe's short description">
  </div>
  <div>
    <label for="longDesc">Description</label>
    <input name="longDesc" value="Recipe's description">
  </div>
  <div>
    <button>Submit</button>
  </div>
</form>
</body>
</html>